# Supabase — use a ANON KEY aqui (pública, vai pro browser)
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGc...

# URL do backend Node.js
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
